@font-face {
    font-family:Myriad;
    src:url(../fonts/MyriadProRegular.woff);
}

body {
    font-family:Myriad;
}

header {
    font-size:14px;
    background:#002258;
    margin-bottom:10px;
}

header .nav-link {
    padding: .5rem .4rem;
}

header a, header a:active, header a:hover {
    color:#fff;
}

.nav-pills {
    font-size:13px;
    display: inline-flex;
    float: right;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.nav-pills>.nav-item>.nav-link, .nav-pills>.nav-item>.nav-link:active {
    color:#002258;
    text-transform:uppercase;
}

.nav-pills .dropdown-menu {
    filter:drop-shadow(3px 3px 10px rgba(0,0,0,0.2));
    border:none;
}

.nav-pills .dropdown-item {
    color:#022459;
    font-size:14px;
}

.dropdown-item .dropdown-item {
    color:#002258;
}

.dropdown-item:focus, .dropdown-item:hover {
    background:rgb(251,251,251);
    filter:drop-shadow(3px 3px 10px rgba(0,0,0,0.2));
}

.dropdown-menu .dropdown-menu.show {
    left:100% !important;
    top: -37px !important;
}

.dropdown-menu .dropdown-toggle {
    position:relative;
}

.dropdown-menu .dropdown-toggle::after {
    border-left: .3em solid;
    border-top: .3em solid transparent;
    border-right: 0;
    border-bottom: .3em solid transparent;
    position: absolute;
    right: 10px;
    top: 35%;
}

#logo {
    padding:1rem 6rem;
    border:1px solid #18234b;
    display:inline-block;
    font-size:30px;
    color:#002258;
}

.jumbotron {
    background-image:url(../img/main_foto.jpg);
    background-size:cover;
    padding-right:0;
    padding-left:0;
    color:#fff;
    margin-top:6px;
    margin-bottom:45px;
    padding-top: 150px;
    padding-bottom: 200px;
}

.jumbotron-container {
    background: rgba(0, 0, 0, .6);
    padding: 20px 60px 10px 60px;
}

.jumbotron h1{
    font-size:51.51px;
}

.jumbotron h2{
    font-size:42.93px;
}

.jumbotron p {
    margin-bottom:0;
}

h3 {
    font-size:24px;
    color:#002258;
    text-transform:uppercase;
}

.products-container, .sections-container {
    display:flex;
}

.products-item {
    height:250px;
    min-width:19.5%;
    margin-right:0.625%;
    background-image:url(../img/photo.jpg);
    background-size:cover;
}

.products-item:nth-of-type(2) {
    background-image:url(../img/photo2.jpg);
}

.products-item:nth-of-type(3) {
    background-image:url(../img/images.jpg);
}

.products-item:nth-of-type(4) {
    background-image:url(../img/product.jpg);
}

.products-item:last-child {
    margin-right:0;
    background-image:url(../img/product2.jpg);
}

.products-item .overlay {
    height:100%;
    background:rgba(0,0,0,.5);
    position:relative;
}

.products-item h4 {
    font-size:12px;
    color:#fff;
    text-align:center;
    text-transform:uppercase;
    background:rgba(0,0,0,.6);
    line-height: 4;
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    width: 100%;
}

hr {
    width:60%;
    margin-top: 18px;
    margin-bottom: 18px;
}

.sections-container {
    margin-bottom:45px;
}

.sections-item {
    min-width:49.6%;
    margin-right:0.8%;
    background-image:url(../img/lost-places.jpg);
    background-size:cover;
}

.sections-item:nth-of-type(2) {
    background-image:url(../img/belgium.jpg);
    margin-right:0;
}

.sections-item .overlay {
    height:100%;
    background:rgba(0,0,0,.56);
}

.sections-item h2 {
    font-size: 48px;
    text-transform:uppercase;
    color:#fefefe;
    text-align:center;
    line-height:300px;
}

footer {
    width:100%;
    background:#011432;
    font-size:14px;
}

footer p {
    margin:1rem 0;
}

.nav-tabs {
    display:inline-flex;
    float:right;
    border-bottom:none;
    margin:1rem 0;
}

.nav-tabs li {
    border-right:1px solid #fff;
    text-transform:uppercase;
    line-height:1;
}

.nav-tabs li:last-child {
    border-right:none;
}

.nav-tabs a, .nav-tabs a:active, .nav-tabs a:hover {
    color:#fff;
    border:none;
}

footer .nav-tabs .nav-link {
    padding:0 1rem;
    border:none;
}

#copyright {
    display:inline-block;
    color:#fefeff;
}