/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  background-color: #ffffff;/*#22283f;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body::before {
  /* never visible - this is used in jQuery to check the current MQ */
  content: 'mobile';
  display: none;
}
@media only screen and (min-width: 1050px) {
  body::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'desktop';
  }
}

a {
  color: #267481;
  text-decoration: none;
}

/* -------------------------------- 

Main Components 

-------------------------------- */
@media only screen and (min-width: 1050px) {
  body[data-hijacking="on"] {
    overflow: hidden;
  }
}

.cd-section {
  height: 100vh;
}
.cd-section h2 {
  line-height: 100vh;
  text-align: center;
  font-size: 2.4rem;
}
.cd-section:first-of-type > div {
  background-color: #2b334f;
}
.cd-section:first-of-type > div::before {
  /* alert -> all scrolling effects are not visible on small devices */
  /*content: 'Effects not visible on mobile!';*/
  position: absolute;
  width: 100%;
  text-align: center;
  top: 20px;
  z-index: 2;
  font-weight: bold;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #6a7083;
}
.cd-section:nth-of-type(2) > div {
  background-color: #2e5367;
}
.cd-section:nth-of-type(3) > div {
  background-color: #267481;
}
.cd-section:nth-of-type(4) > div {
  background-color: #fcb052;
}
.cd-section:nth-of-type(5) > div {
  background-color: #f06a59;
}
[data-animation="parallax"] .cd-section > div {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
[data-animation="parallax"] .cd-section:first-of-type > div {
  background-image: url("../img/main.jpg");
}
[data-animation="parallax"] .cd-section:nth-of-type(2) > div {
  background-image: url("../img/img-2.jpg");
}
[data-animation="parallax"] .cd-section:nth-of-type(3) > div {
  background-image: url("../img/bg-img.jpg");
}
[data-animation="parallax"] .cd-section:nth-of-type(4) > div {
  background-image: url("../img/img-4.jpg");
}
[data-animation="parallax"] .cd-section:nth-of-type(5) > div {
  background: url("../img/grey_wash_wall.png") repeat;
  height: 100%;
}
@media only screen and (min-width: 1050px) {
  .cd-section h2 {
    font-size: 4rem;
    font-weight: 300;
  }
  [data-hijacking="on"] .cd-section {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  [data-hijacking="on"] .cd-section > div {
    visibility: visible;
  }
  [data-hijacking="off"] .cd-section > div {
    opacity: 0;
  }
}

@media only screen and (min-width: 1050px) {
  .cd-section:first-of-type > div::before {
    display: none;
  }
}
@media only screen and (min-width: 1050px) {
  .cd-section > div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* Force Hardware Acceleration */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  [data-hijacking="on"] .cd-section > div {
    position: absolute;
  }
}

.cd-vertical-nav {
  /* lateral navigation */
  position: fixed;
  z-index: 1;
  right: 50%;
  /*top: 50%;*/
  bottom: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: none;
}
.cd-vertical-nav a {
  display: block;
  height: 40px;
  width: 40px;
  /* image replace */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: url(../img/cd-icon-arrow.svg) no-repeat center center;
}
.cd-vertical-nav a.cd-prev {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-bottom: 10px;
}
.cd-vertical-nav a.inactive {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  -moz-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  transition: opacity 0.2s 0s, visibility 0s 0.2s;
}
@media only screen and (min-width: 1050px) {
  .cd-vertical-nav {
    display: block;
  }
}

/* --------------------------------

main page

------------------------------- */
.cd-intro {
    position: relative;
    height: 100vh;
    width: 100%;
    /* vertically align its content */
    display: table;
    background: #ffffff;/*#2e416a;*/
    overflow: hidden;
}

.cd-intro-content {
    /* vertically align inside its parent */
    height: 100vh;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 0 5%;
    background: #2e416a;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.cd-intro-content h1 {
    font-size: 2.4rem;
    color: #ffffff;
}
.cd-intro-content p {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.4;
    margin: 1em 0;
    /*color: #6d7a97;*/
}
.cd-intro-content .action-wrapper {
    display: inline-block;
}
.cd-intro-content .action-wrapper::after {
    clear: both;
    content: "";
    display: table;
}
.cd-intro-content .action-wrapper > * {
    float: left;
}
@media only screen and (min-width: 768px) {
    .cd-intro-content h1 {
        font-size: 5.2rem;
        font-weight: 300;
    }
    .cd-intro-content p {
        font-size: 1.6rem;
        margin: 1.5em 0 1.9em;
    }
}

.cd-intro-content h1,
.cd-intro-content h1 span,
.cd-intro-content p {
    opacity: 0;
    -webkit-animation-duration: 0.8s;
    -moz-animation-duration: 0.8s;
    animation-duration: 0.8s;
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    animation-delay: 0.3s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.no-cssanimations .cd-intro-content h1, .no-cssanimations
.cd-intro-content h1 span, .no-cssanimations
.cd-intro-content p {
    opacity: 1;
}

.reveal.cd-intro-content h1 {
    /*position: relative;*/
    /* overwrite default style */
    margin-top: 20%;
    opacity: 1;
    font-weight: 700;
    /* <h1> text is not visible - it is used only as a container for the ::after element */
    color: transparent;
    overflow: hidden;
}
.reveal.cd-intro-content h1::after {
    /* this is the animated text */
    content: attr(data-content);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: #ffffff;
    opacity: 0;
    -webkit-animation-name: cd-reveal-up;
    -moz-animation-name: cd-reveal-up;
    animation-name: cd-reveal-up;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.no-cssanimations .reveal.cd-intro-content h1::after {
    opacity: 1;
}
@media only screen and (max-width: 1050px) {
    .reveal.cd-intro-content h1::after {
        top: 50%;
    }
}

@media only screen and (min-width: 768px) {
    .reveal.cd-intro-content h1 {
        -webkit-transform: translateY(5px);
        -moz-transform: translateY(5px);
        -ms-transform: translateY(5px);
        -o-transform: translateY(5px);
        transform: translateY(5px);
    }
}

.reveal.cd-intro-content p {
    position: relative;
    margin: 0;
    padding: 1em;
    /*background-color: #202e4a;*/
    -webkit-animation-name: cd-reveal-down;
    -moz-animation-name: cd-reveal-down;
    animation-name: cd-reveal-down;
}
@media only screen and (min-width: 1170px) {
    .reveal.cd-intro-content p {
        padding: 1em 1.6em;
    }
}

.reveal.cd-intro-content h1::after,
.reveal.cd-intro-content p {
    -webkit-animation-duration: 0.4s;
    -moz-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-delay: 0.7s;
    -moz-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

.reveal.cd-intro-content .action-wrapper {
    position: relative;
    overflow: hidden;
}
.reveal.cd-intro-content .action-wrapper::before {
    /* this is the loading bar */
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: white;/*#202e4a;*/
    -webkit-animation: cd-loading 0.4s 0.3s backwards;
    -moz-animation: cd-loading 0.4s 0.3s backwards;
    animation: cd-loading 0.4s 0.3s backwards;
}

@-webkit-keyframes cd-reveal-up {
    0% {
        opacity: 1;
        -webkit-transform: translateY(100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}
@-moz-keyframes cd-reveal-up {
    0% {
        opacity: 1;
        -moz-transform: translateY(100%);
    }
    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}
@keyframes cd-reveal-up {
    0% {
        opacity: 1;
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -o-transform: translateY(100%);
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}
@-webkit-keyframes cd-reveal-down {
    0% {
        opacity: 1;
        -webkit-transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}
@-moz-keyframes cd-reveal-down {
    0% {
        opacity: 1;
        -moz-transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}
@keyframes cd-reveal-down {
    0% {
        opacity: 1;
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}
@-webkit-keyframes cd-loading {
    0% {
        -webkit-transform: scaleX(0);
    }
    100% {
        -webkit-transform: scaleX(1);
    }
}
@-moz-keyframes cd-loading {
    0% {
        -moz-transform: scaleX(0);
    }
    100% {
        -moz-transform: scaleX(1);
    }
}
@keyframes cd-loading {
    0% {
        -webkit-transform: scaleX(0);
        -moz-transform: scaleX(0);
        -ms-transform: scaleX(0);
        -o-transform: scaleX(0);
        transform: scaleX(0);
    }
    100% {
        -webkit-transform: scaleX(1);
        -moz-transform: scaleX(1);
        -ms-transform: scaleX(1);
        -o-transform: scaleX(1);
        transform: scaleX(1);
    }
}

/* -------------------------------- 

Map

-------------------------------- */
#google-container {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100vh;/*200px;*/
    min-height:100vh;
    background-color: #e7eaf0;
}
@media only screen and (min-width: 768px) {
    #google-container {
        height: 300px;
    }
}
@media only screen and (min-width: 1170px) {
    #google-container {
        height: 600px;
    }
}

address {
    position: absolute;
    z-index: 3;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 1em 1em;
    background-color: rgba(211, 104, 104, 0.9);
    color: white;
    font-size: 13px;
    font-size: 0.8125rem;
}
@media only screen and (min-width: 768px) {
    address {
        /*font-size: 15px;
        font-size: 0.9375rem;*/
        font-size:20px;
        font-size:1.25rem;
        text-align: center;
    }
}

#cd-zoom-in, #cd-zoom-out {
    height: 32px;
    width: 32px;
    cursor: pointer;
    margin-left: 10px;
    background-color: rgba(211, 104, 104, 0.9);
    background-repeat: no-repeat;
    background-size: 32px 64px;
    background-image: url("../img/cd-icon-controller.svg");
}
.no-touch #cd-zoom-in:hover, .no-touch #cd-zoom-out:hover {
    background-color: #d36868;
}
@media only screen and (min-width: 768px) {
    #cd-zoom-in, #cd-zoom-out {
        margin-left: 50px;
    }
}

#cd-zoom-in {
    background-position: 50% 0;
    margin-top: 10px;
    margin-bottom: 1px;
}
@media only screen and (min-width: 768px) {
    #cd-zoom-in {
        margin-top: 50px;
    }
}

#cd-zoom-out {
    background-position: 50% -32px;
}
/*@media only screen and (max-width: 1050px) {
    #google-container {
        position: relative;
        top: 0;
        z-index: 2;
        width: 100%;
        height: 200px;
        /*min-height:100vh;*/
        /*background-color: #e7eaf0;
    }
    address {
        position: absolute;
        z-index: 3;
        width: 100%;
        bottom: 0;
        left: 0;
        padding: 1em 1em;
        background-color: rgba(211, 104, 104, 0.9);
        color: white;
        font-size: 13px;
        font-size: 0.8125rem;
        text-align: center;
    }
}*/

/* -------------------------------- 

Form

-------------------------------- */
.cd-form {
    width: 90%;
    max-width: 600px;
    margin: 2em auto;
}
.cd-form::after {
    clear: both;
    content: "";
    display: table;
}
.cd-form fieldset {
    margin: 24px 0;
}
.cd-form legend {
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 2rem;
    border-bottom: 1px solid #ecf0f1;
}
.cd-form div {
    /* form element wrapper */
    position: relative;
    margin: 20px 0;
}
.cd-form h4, .cd-form .cd-label {
    font-size: 1.3rem;
    color: #94aab0;
    margin-bottom: 10px;
}
  .cd-form .cd-label {
    display: block;
}
.cd-form input, .cd-form textarea, .cd-form select, .cd-form label {
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    color: #2b3e51;
}
.cd-form input[type="text"],
.cd-form input[type="email"],
.cd-form textarea,
.cd-form select,
.cd-form legend {
    display: block;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}
.cd-form input[type="text"],
.cd-form input[type="email"],
.cd-form textarea,
.cd-form select {
    /* general style for input elements */
    padding: 12px;
    border: 1px solid #cfd9db;
    background-color: #ffffff;
    border-radius: .25em;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
}
.cd-form input[type="text"]:focus,
.cd-form input[type="email"]:focus,
.cd-form textarea:focus,
.cd-form select:focus {
    outline: none;
    border-color: #2c97de;
    box-shadow: 0 0 5px rgba(44, 151, 222, 0.2);
}
.cd-form textarea {
    min-height: 160px;
    resize: vertical;
    overflow: auto;
}
.cd-form input[type="submit"] {
    /* button style */
    border: none;
    background: #2c97de;
    border-radius: .25em;
    padding: 16px 20px;
    color: #ffffff;
    font-weight: bold;
    float: right;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}
.no-touch .cd-form input[type="submit"]:hover {
    background: #42a2e1;
}
.cd-form input[type="submit"]:focus {
    outline: none;
    background: #2b3e51;
}
.cd-form input[type="submit"]:active {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
}
.cd-form [required] {
    background: url("../img/cd-required.svg") no-repeat top right;
}
.cd-form .error-message p {
    background: #e94b35;
    color: #ffffff;
    font-size: 1.4rem;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-radius: .25em;
    padding: 16px;
}
/*.cd-form .error {
    border-color: #e94b35 !important;
}*/
.cd-form .phone {

}
@media only screen and (min-width: 600px) {
    .cd-form div {
        /* form element wrapper */
        margin: 32px 0;
    }
    .cd-form legend + div {
        /* reduce margin-top for first form element after the legend */
        margin-top: 20px;
    }
    .cd-form h4, .cd-form .cd-label {
        font-size: 1.4rem;
        margin-bottom: 10px;
    }
    .cd-form input[type="text"],
    .cd-form input[type="email"],
    .cd-form textarea,
    .cd-form select {
        padding: 10px;
    }
}

@-webkit-keyframes cd-bounce {
    0%, 100% {
        -webkit-transform: scale(1);
    }
    50% {
        -webkit-transform: scale(0.8);
    }
}
@-moz-keyframes cd-bounce {
    0%, 100% {
        -moz-transform: scale(1);
    }
    50% {
        -moz-transform: scale(0.8);
    }
}
@keyframes cd-bounce {
    0%, 100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        -o-transform: scale(0.8);
        transform: scale(0.8);
    }
}

/* -------------------------------- 

Custom icons

-------------------------------- */
.cd-form .icon input, .cd-form .icon select, .cd-form .icon textarea {
    padding-left: 54px !important;
}
.cd-form .user {
    background: url("../img/cd-icon-user.svg") no-repeat 16px center;
}
.cd-form [required].user {
    background: url("../img/cd-icon-user.svg") no-repeat 16px center/*, url("../img/cd-required.svg") no-repeat top right*/;
}
.cd-form .phone {
    background: url("../img/cd-icon-company.svg") no-repeat 16px center;
}
.cd-form [required].phone {
    background: url("../img/cd-icon-company.svg") no-repeat 16px center/*, url("../img/cd-required.svg") no-repeat top right*/;
}
.cd-form .email {
    background: url("../img/cd-icon-email.svg") no-repeat 16px center;
}
.cd-form [required].email {
    background: url("../img/cd-icon-email.svg") no-repeat 16px center/*, url("../img/cd-required.svg") no-repeat top right*/;
}
.cd-form .message {
    background: url("../img/cd-icon-message.svg") no-repeat 16px 16px;
}
.cd-form [required].message {
    background: url("../img/cd-icon-message.svg") no-repeat 16px 16px/*, url("../img/cd-required.svg") no-repeat top right*/;
}

/* -------------------------------- 

FLoating labels 

-------------------------------- */
.js .floating-labels div {
    margin: 28px 0;
}
.js .floating-labels .cd-label {
    position: absolute;
    top: 16px;
    left: 16px;
    font-size: 1.6rem;
    cursor: text;
    -webkit-transition: top 0.2s, left 0.2s, font-size 0.2s;
    -moz-transition: top 0.2s, left 0.2s, font-size 0.2s;
    transition: top 0.2s, left 0.2s, font-size 0.2s;
}
.js .floating-labels .icon .cd-label {
    left: 56px;
}
.js .floating-labels .cd-label.float {
    /* move label out the input field */
    font-size: 1.2rem;
    top: -16px;
    left: 0 !important;
}
@media only screen and (min-width: 600px) {
    .js .floating-labels legend + div {
        /* reduce margin-top for first form element after the legend */
        margin-top: 16px;
    }
    .js .floating-labels .cd-label {
        top: 20px;
    }
}